$mobile-width1: 200px;
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-width1: 1100px;

@mixin mobile {
    @media(min-width: #{$mobile-width1}) and (max-width: #{$mobile-width - 1px}) {
        @content;
    }
}

@mixin ipa {
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: #{$desktop-width}) and (max-width: #{$desktop-width1 - 1px}) {
        @content;
    }
}
@mixin desktop1 {   @media (min-width: #{$desktop-width1}) {     
    @content;  
   } 
  }





.header {
    display: flex;
    width: 100%;
    background: linear-gradient(to right, #7A7FBA, #11C37C);


    .header-logo {
        width: 20%;
        text-align: center;

        img {
            @include mobile() {
                display: none;
            }

            @include tablet() {
                display: none;
            }
            @include ipa(){
                display: none;
            }
        }

        h1 {
            margin-top: 2%;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    }

    .header-menu {
        width: 60%;

        @include mobile() {

            display: none;
        }

        @include tablet() {
            display: none;
        }
        @include ipa(){
            display: none;
        }

        a {
            color: black;
            text-decoration: none;
            float: left;
            margin-left: 9%;
            margin-top: 2%;
            font-size: 20px;
            @include desktop(){
                margin-left: 8%;
            }

        }
    }

    .header-cart-login {
        text-align: center;
        float: left;
        margin-top: 1%;

        a {}

        @include mobile() {

            display: none;
        }

        @include tablet() {
            display: none;
        }
        @include ipa(){
            display: none;
        }
    }

    .log {
        position: fixed;
        left: 80%;
        top: 9%;

        @include mobile() {

            display: none;
        }

        @include tablet() {
            display: none;
        }

        h6 {
            margin: 0px;
        }
    }

    .responsiveHeader {
        display: none;
        @include ipa(){
            display: flex;
            margin-left: auto;
            margin-top: 1%;
            margin-right: 1%;
            .link {
                position: absolute;
                top: 40px;
                right: 10px;
                background: whitesmoke;
                animation: pulse 1.5s ease infinite alternate;
                animation-iteration-count: 1;

                @keyframes pulse {
                    0% {
                        transform: translate(50px, 0);
                    }

                    15% {
                        transform: translate(35px, 0);
                    }

                    25% {
                        transform: translate(25px, 0);
                    }

                    35% {
                        transform: translate(20px, 0);
                    }

                    50% {
                        transform: translate(15px, 0);
                    }

                    75% {
                        transform: translate(10px, 0);
                    }

                    100% {
                        transform: translate(0px, 0);
                    }
                }

                a {
                    font-size: 16px;
                    font-weight: 600;
                    display: block;
                    margin-left: 30px;
                    margin-right: 30px;
                    text-decoration: none;
                    color: black;
                }
            }
        }

        @include tablet() {
            display: flex;
            margin-left: auto;
            margin-top: 1%;
            margin-right: 1%;

            .link {
                position: absolute;
                top: 40px;
                right: 10px;
                background: whitesmoke;
                animation: pulse 1.5s ease infinite alternate;
                animation-iteration-count: 1;

                @keyframes pulse {
                    0% {
                        transform: translate(50px, 0);
                    }

                    15% {
                        transform: translate(35px, 0);
                    }

                    25% {
                        transform: translate(25px, 0);
                    }

                    35% {
                        transform: translate(20px, 0);
                    }

                    50% {
                        transform: translate(15px, 0);
                    }

                    75% {
                        transform: translate(10px, 0);
                    }

                    100% {
                        transform: translate(0px, 0);
                    }
                }

                a {
                    font-size: 16px;
                    font-weight: 600;
                    display: block;
                    margin-left: 30px;
                    margin-right: 30px;
                    text-decoration: none;
                    color: black;
                }
            }
        }

        @include mobile() {
            display: flex;
            margin-left: 60%;
            float: right;

            .link {
                position: absolute;
                top: 30px;
                right: 10px;
                width: 90px;
                background: whitesmoke;
                animation: pulse 1.5s ease infinite alternate;
                animation-iteration-count: 1
            }

            @keyframes pulse {
                0% {
                    transform: translate(50px, 0);
                }

                15% {
                    transform: translate(35px, 0);
                }

                25% {
                    transform: translate(25px, 0);
                }

                35% {
                    transform: translate(20px, 0);
                }

                50% {
                    transform: translate(15px, 0);
                }

                75% {
                    transform: translate(10px, 0);
                }

                100% {
                    transform: translate(0px, 0);
                }
            }

        }

    }
}