$mobile-width1: 200px;
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
    @media(min-width: #{$mobile-width1}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}
@mixin ipa {
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

.Connenction{
    margin-top: 2%;
    display: flex;
    width: 90%;
    margin: auto;
    div{
        width: 200px;
        text-align: center;
        margin: auto;
        img{
            width: 100%;
            height: 180px;
        }
    }
    
}
@include mobile(){
  .Connenction{
    display: block;
    div{
        width: 150px;
    }
  }
}
@include tablet(){
    .Connenction{
        display: flex;
    }
}
@include ipa(){
    .Connenction{
        display:grid;
        div{
            width: 300px;
            text-align: center;
            margin: auto;
            img{
                width: 100%;
            }
        }
    }
}