$mobile-width1: 200px;
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
    @media(min-width: #{$mobile-width1}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

.product{
    text-align: center;
    div{
        width: 20%;
        margin: 1%;
        display: inline-block;
        text-align: center;
        @include mobile(){
            width: 40%;
        }
        img{
            width: 90%;
            height: 90%;
        }
    }
}