.header-full {
    background-image: url('https://cdn.vjshop.vn/tin-tuc/meo-chup-anh-bang-flycam/meo-chup-anh-bang-flycam-14.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 99vh;
}